In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from matplotlib.pyplot import figure4vcfdws
import datetime
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

ImportError: cannot import name 'figure4vcfdws' from 'matplotlib.pyplot' (C:\Users\VISWA\Anaconda3\envs\tensorflow_gpuenv\lib\site-packages\matplotlib\pyplot.py)

In [2]:
prod_t_df = pd.read_csv('pt.csv',low_memory=False)
em_df =  pd.read_csv('em.csv',low_memory=False)
calc_df = pd.read_csv('calculated.csv',low_memory=False)

In [5]:
# Selecting RingFrame Machines in Code 'C'
unit_code = 'C'
prod_df = prod_t_df[['pt_date','pt_ucode','pt_count','pt_mcode','pt_hanks','pt_dlvrs','pt_stdhnk','pt_nomhnk','pt_idlespnper','pt_tc','pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]
prod_df = prod_df[prod_df['pt_ucode']== unit_code]
#prod_df = prod_df [prod_df.pt_mcode.str.contains('^RF')]
prod_df =  prod_df[prod_df.pt_date.str.contains('2018$')]
prod_df['pt_date'] =pd.to_datetime(prod_df.pt_date)
prod_df = prod_df.sort_values(by='pt_date')
prod_df.head(5)

,pt_date,pt_ucode,pt_count,pt_mcode,pt_hanks,pt_dlvrs,pt_stdhnk,pt_nomhnk,pt_idlespnper,pt_tc,pt_ecode1,pt_ecode2,pt_rcode1,pt_rcode2
179662,2018-01-01,C,1.2,SX-08,6.140299,120,7.103109,1.20,0.0,0.00,82,zzz,zzz,zzz
47401,2018-01-01,C,0.12,CD-01,49.061081,1,45.697414,0.12,0.0,0.00,101,zzz,zzz,zzz
71844,2018-01-01,C,50 CK,RF-43,10.603089,960,13.339348,49.00,0.0,2.33,zzz,zzz,zzz,zzz
89651,2018-01-01,C,0.12,CD-13,27.527811,1,28.121485,0.12,0.0,0.00,1055,zzz,zzz,zzz
71903,2018-01-01,C,0.13,COM-11,82.346947,1,75.485360,0.13,0.0,0.00,161,zzz,zzz,zzz

In [6]:
prod_df.shape

(133895, 14)

In [7]:
#Calculating Standard Production
prod_df['std_prod'] = (0.4536*prod_df['pt_stdhnk']*prod_df['pt_dlvrs'])/(prod_df['pt_nomhnk'])
prod_df.head(5)

,pt_date,pt_ucode,pt_count,pt_mcode,pt_hanks,pt_dlvrs,pt_stdhnk,pt_nomhnk,pt_idlespnper,pt_tc,pt_ecode1,pt_ecode2,pt_rcode1,pt_rcode2,std_prod
179662,2018-01-01,C,1.2,SX-08,6.140299,120,7.103109,1.20,0.0,0.00,82,zzz,zzz,zzz,322.197042
47401,2018-01-01,C,0.12,CD-01,49.061081,1,45.697414,0.12,0.0,0.00,101,zzz,zzz,zzz,172.736225
71844,2018-01-01,C,50 CK,RF-43,10.603089,960,13.339348,49.00,0.0,2.33,zzz,zzz,zzz,zzz,118.544880
89651,2018-01-01,C,0.12,CD-13,27.527811,1,28.121485,0.12,0.0,0.00,1055,zzz,zzz,zzz,106.299213
71903,2018-01-01,C,0.13,COM-11,82.346947,1,75.485360,0.13,0.0,0.00,161,zzz,zzz,zzz,263.385841

In [8]:
# Calculating Actual Production
prod_df['act_prod'] =  ((0.4536*prod_df['pt_hanks']*prod_df['pt_dlvrs'])/(prod_df['pt_nomhnk']))*((100-prod_df['pt_tc'])/100)
prod_df.head(5)

,pt_date,pt_ucode,pt_count,pt_mcode,pt_hanks,pt_dlvrs,pt_stdhnk,pt_nomhnk,pt_idlespnper,pt_tc,pt_ecode1,pt_ecode2,pt_rcode1,pt_rcode2,std_prod,act_prod
179662,2018-01-01,C,1.2,SX-08,6.140299,120,7.103109,1.20,0.0,0.00,82,zzz,zzz,zzz,322.197042,278.523977
47401,2018-01-01,C,0.12,CD-01,49.061081,1,45.697414,0.12,0.0,0.00,101,zzz,zzz,zzz,172.736225,185.450886
71844,2018-01-01,C,50 CK,RF-43,10.603089,960,13.339348,49.00,0.0,2.33,zzz,zzz,zzz,zzz,118.544880,92.032624
89651,2018-01-01,C,0.12,CD-13,27.527811,1,28.121485,0.12,0.0,0.00,1055,zzz,zzz,zzz,106.299213,104.055126
71903,2018-01-01,C,0.13,COM-11,82.346947,1,75.485360,0.13,0.0,0.00,161,zzz,zzz,zzz,263.385841,287.327500

In [9]:
#Calculating Production Efficiency
prod_df['prod_eff'] = (prod_df['act_prod']/prod_df['std_prod'])*100
prod_df.head(5)

,pt_date,pt_ucode,pt_count,pt_mcode,pt_hanks,pt_dlvrs,pt_stdhnk,pt_nomhnk,pt_idlespnper,pt_tc,pt_ecode1,pt_ecode2,pt_rcode1,pt_rcode2,std_prod,act_prod,prod_eff
179662,2018-01-01,C,1.2,SX-08,6.140299,120,7.103109,1.20,0.0,0.00,82,zzz,zzz,zzz,322.197042,278.523977,86.445231
47401,2018-01-01,C,0.12,CD-01,49.061081,1,45.697414,0.12,0.0,0.00,101,zzz,zzz,zzz,172.736225,185.450886,107.360738
71844,2018-01-01,C,50 CK,RF-43,10.603089,960,13.339348,49.00,0.0,2.33,zzz,zzz,zzz,zzz,118.544880,92.032624,77.635259
89651,2018-01-01,C,0.12,CD-13,27.527811,1,28.121485,0.12,0.0,0.00,1055,zzz,zzz,zzz,106.299213,104.055126,97.888896
71903,2018-01-01,C,0.13,COM-11,82.346947,1,75.485360,0.13,0.0,0.00,161,zzz,zzz,zzz,263.385841,287.327500,109.089957

In [10]:
prod_df = prod_df.drop(['pt_ucode','pt_hanks','pt_dlvrs','pt_stdhnk','pt_nomhnk','pt_idlespnper','pt_tc','std_prod','act_prod'],axis = 1)
prod_df.columns

Index(['pt_date', 'pt_count', 'pt_mcode', 'pt_ecode1', 'pt_ecode2',
       'pt_rcode1', 'pt_rcode2', 'prod_eff'],
      dtype='object')

In [11]:
prod_df = prod_df.replace([np.inf, -np.inf], np.nan)
prod_df = prod_df.dropna()

In [12]:
months = []
for i in range(1,13):
    month = datetime.date(1900,i, 1).strftime('%B')
    months.append(month)
df_t = pd.DataFrame(months, columns = ['months']) 
df_t

NameError: name 'datetime' is not defined

In [13]:
empcodes = []
empcodes.extend(list(prod_df['pt_ecode1'].unique()))
empcodes.extend(list(prod_df['pt_ecode2'].unique()))
empcodes.extend(list(prod_df['pt_rcode1'].unique()))
empcodes.extend(list(prod_df['pt_rcode1'].unique()))
empcodes = list(set(empcodes))
empcodes = [ x for x in empcodes if x.isdigit() ]
empcodes

['245',
 '86',
 '104',
 '145',
 '105',
 '161',
 '146',
 '162',
 '82',
 '165',
 '143',
 '240',
 '101',
 '230',
 '68',
 '1062',
 '250',
 '103',
 '182',
 '1083',
 '1055',
 '1065',
 '1071',
 '183',
 '236',
 '1054',
 '1066']

In [14]:
import math
p_len_1 = math.ceil(len(prod_df.index)/3)
p_len_2 = math.ceil(p_len_1+p_len_1)

p_df_1 = prod_df.iloc[:p_len_1,:]
p_df_2 = prod_df.iloc[p_len_1:p_len_2,:]
p_df_3 = prod_df.iloc[p_len_2:,:]

In [15]:
print(p_len_1)
print(p_len_2)
print(p_len_1+p_len_2)
print(len(prod_df.index))

43075
86150
129225
129225

In [16]:
p_df_1.shape[0]+p_df_2.shape[0]+p_df_3.shape[0]

129225

In [17]:
prod_df.shape[0]

129225

In [18]:
p_df_1.shape[0] == p_len_1

True

In [19]:
bool_rows_1 = []
for index,row in p_df_1.iterrows():
    #print(list(row[['pt_date','pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]))
    #print([x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])
    bool_rows_1.append([x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])

In [20]:
bool_rows_2 = []
#for emp in empcodes:
p_df_2 = p_df_2[p_df_2['pt_date'].map(lambda x: x.month) == 6]

for index,row in p_df_2.iterrows():
   #print(list(row[['pt_date','pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]))
    bool_rows_2.append([x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])

In [ ]:
bool_rows_3 = []
#for emp in empcodes:
for index,row in p_df_3.iterrows():
    bool_rows_3.append([x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])

In [20]:
bool_rows_1 = [True if len(lst) > 0 else False for lst in bool_rows_1]
bool_rows_2 = [True if len(lst) > 0 else False for lst in bool_rows_2]
bool_rows_3 = [True if len(lst) > 0 else False for lst in bool_rows_3]

In [21]:
p_df_1 = p_df_1[bool_rows_1]
p_df_2 = p_df_2[bool_rows_2]
p_df_3 = p_df_3[bool_rows_3]

In [22]:
 p_df_1[p_df_1['pt_date'].map(lambda x: x.month) == 6].shape[0]+ p_df_2[p_df_2['pt_date'].map(lambda x: x.month) == 6].shape[0]+ p_df_3[p_df_3['pt_date'].map(lambda x: x.month) == 6].shape[0]

5790

In [23]:
prod_df[prod_df['pt_date'].map(lambda x: x.month) == 6].shape[0]

10420

In [24]:
m_end = int(p_df_1.tail(1)['pt_date'].map(lambda x:x.month))

In [25]:
print(p_df_1['pt_ecode1'].unique())
print(p_df_2['pt_ecode1'].unique())
print(p_df_3['pt_ecode1'].unique())

['82' '101' '1055' '161' '1062' '1083' '1066' '1071' '1054' '68' '104'
 '183' '86' '103' '182' '143' '105' '162' '1065' '145' '250' '245' '165'
 '240' '146' '230' '236']
['1065' '143' '183' '146' '1066' '1055' '161' '162' '86' '145' '1054'
 '101' '82' '1071' '104' '103' '236' '182' '245' '165' '1083' '1062' '68'
 '105' '250' '240' '230']
['162' '68' '101' '143' '146' '1055' '1062' '1083' '1066' '1054' '250'
 '1071' '245' '104' '103' '145' '105' '182' '165' '1065' '82' '86' '183'
 '240' '161' '236' '230']

In [26]:
import concurrent.futures

In [ ]:
data_list = []
m_end = int(p_df_1.tail(1)['pt_date'].map(lambda x:x.month))
for ecode in empcodes:
    print('Employee',ecode)
    y_list = []
    for i in range(1,m_end+1):
        print('Month:',str(i))
        m_e_list = []
        ecodes= []
        mon_grouped_flags = p_df_1['pt_date'].map(lambda x: x.month) == i
        mon_grouped = p_df_1[mon_grouped_flags]
        for index,row in mon_grouped.iterrows():
            #e_len =len([x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])
            #print(e_len)
            e_len = 1
            if ecode in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]):
               # print(ecode,row['prod_eff']/e_len,row['pt_date'],row['pt_mcode'])
                m_e_list.append(row['prod_eff']/e_len)
       # print(m_e_list)
       # print(np.mean(m_e_list))
        y_list.append(np.mean(m_e_list))
    data_list.append(y_list)

Employee 183
Month: 1
Month: 2

In [397]:
# Proceesing only non ZZZ columns
#p_df_1 = p_df_1.drop(['ecode2','pt_rcode1','pt_rcode2'],axis = 1)

p_df_2 = p_df_2.drop(['ecode2','pt_rcode1','pt_rcode2'],axis = 1)

p_df_3 = p_df_3.drop(['ecode2','pt_rcode1','pt_rcode2'],axis = 1)

KeyError: "['ecode2'] not found in axis"

In [ ]:
#Parallel Execution
from multiprocessing import Pool
import workers
from itertools import repeat
from multiprocessing import Process, Manager

if __name__ ==  '__main__':
        manager = Manager()
        d = manager.dict()
        num_processors = 3
        my_str = ''
        a_args = [1,2,3]
        b_args = repeat(d,len(a_args))
        p=Pool(processes = num_processors)
        p.map(workers.worker,zip(a_args,b_args))
        print(d)

In [ ]:
[[100.30134720912156,
  101.04272720323071,
  101.65778350040448,
  102.2804159305354,
  102.06769068720996,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [103.79661926786814,
  103.66977045433292,
  104.862442687777,
  106.21920655355864,
  104.5219815225484,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [82.56657931336908,
  82.55786262779863,
  82.13438832252663,
  83.7390557623774,
  84.65357292449633,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [91.0947776523674,
  89.89688952029323,
  90.26418636597217,
  92.3504414775964,
  90.99207693930218,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [102.20797544946211,
  103.45933955846328,
  104.23938725671852,
  104.70691610832849,
  102.75073407198532,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [100.86743068550993,
  102.07760432793498,
  102.02667665734793,
  102.34544200206835,
  102.27862713824918,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [109.7564002312095,
  108.4422969727436,
  96.51819142009978,
  96.9809500319469,
  116.10739897475763,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [111.86934589626634,
  111.11741908489327,
  111.79734117552577,
  112.84379131537646,
  112.21844444049678,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [128.21274888435786,
  127.87908655830394,
  119.41009053717656,
  122.30067957939133,
  138.6062961543814,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [107.15579076358982,
  104.80422061854695,
  105.09713917259458,
  108.56154750618897,
  110.17698466395224,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [111.32039366087992,
  113.85320059809732,
  108.33912993556929,
  114.98705801177711,
  112.68697541504804,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [103.35948262704824,
  105.93698716906631,
  107.09319216499497,
  109.22435323516169,
  100.63560102159869,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [116.3599383649309,
  115.6713085241662,
  118.54147691402905,
  118.85730748148127,
  120.16902519691423,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [97.30475263754481,
  99.11665305396836,
  98.19761065194508,
  97.80738778852246,
  101.03983075969387,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [86.11775904691035,
  87.48996696463176,
  92.53575213236581,
  93.62233578661633,
  88.67555396580632,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [80.58304889907146,
  76.66710363565582,
  82.91675443922763,
  84.2463066561134,
  87.4340730321704,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [114.94875896493595,
  115.46959522150804,
  118.1145775242845,
  118.20376905702479,
  120.06158680350826,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [100.9830931374314,
  100.66292312364922,
  103.54583540414149,
  102.49628567631198,
  100.05654403005603,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [111.03568471006787,
  112.38722214775429,
  114.08814377636452,
  117.65657451067642,
  113.56578227928925,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [116.44610751754755,
  119.18344156674213,
  116.22832857214985,
  118.97695191310576,
  117.04870681091494,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [116.07047805366031,
  116.90243668515278,
  119.4392275885399,
  120.34289155794875,
  120.04861529629119,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [111.35808312252871,
  111.20777375718212,
  114.84080202269756,
  115.4092844912547,
  112.00693785694813,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [104.91055853220159,
  106.73548976827122,
  107.33234666600579,
  107.9555165523356,
  103.18621531702577,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [106.78463381779932,
  107.36709881231867,
  108.61262464719442,
  108.84903774512338,
  110.736477785533,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [114.53506147653287,
  115.39334315681663,
  118.70872495750187,
  119.11548269511836,
  118.33551327270848,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [104.39284889030547,
  102.3118724264955,
  101.96911302701368,
  102.76448016916122,
  104.66107471026734,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan],
 [92.91155148655194,
  97.54243503569855,
  91.22654059030941,
  94.9468613245138,
  95.6963331619477,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]]

In [ ]:
    for index,row in mon_grouped:
            print(row['prod_eff'])
    e_codes =  list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']])
            if ecode in e_codes:
                m_e_list.append(row['prod_eff'])

In [ ]:
for index,row in p_df_1.iterrows():
        elist = [x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()]

In [ ]:
#bool_rows.append(True if len(lst) > 0 else False for lst in [x for x in list(row[['pt_ecode1','pt_ecode2','pt_rcode1','pt_rcode2']]) if x.isdigit()])
#True if len(lst) > 0 else False for lst in []

In [ ]:
print(bool_rows)

In [32]:
prod_df.shape

44631.666666666664

In [50]:
l = [1,2,3,4]
l[:2]

[1, 2]